# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh
# Make vim the default editor
export EDITOR="nvim"
export TERM="xterm-256color"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Network interface to use for network scripts.
# Should be overriden per machine...
export MAIN_NET_INT=""

export VOLTA_HOME="$HOME/.volta"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="nvim +Man!"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

export XDG_CONFIG_HOME="$HOME/.config"
export NODE_TLS_REJECT_UNAUTHORIZED=0
export BAT_THEME=OceanicNext
export FZF_DEFAULT_COMMAND='rg --files -g "!{node_modules/*}"'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_DEFAULT_OPTS="--bind ctrl-a:toggle-all --layout=reverse --margin=1,1 --color=marker:12,pointer:12,hl:#7d7abc,hl+:#7d7abc"
export FZF_ALT_C_OPTS="--preview 'ls -la {}'"
